*{  
    padding:0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    padding: 10px 20px;


}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    /* height: 100vh; */
    width: auto;
    background-color: #FFF0E9;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 3rem;
}


nav h1{
    font-size: 23px;
    font-weight: 700;
}

.navs{
 
    display: flex;
    font-size: 14px;
    letter-spacing: 1px;
    gap: 15px;
}

.navs a{
    color: #B1AAA4;
    font-weight: 500;
    text-decoration: none;
    transition: all ease 0.5s;
}
.navs :hover{
    color: #7c7a78;
}

.get-button{
    display: flex;
    gap: 20px;
}

.get-button a{
    color: rgb(196, 1, 1);
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    transition: all ease 0.3s;
}

.circle{
    border: solid rgb(233, 0, 0) 1px;
    border-radius: 25px;
    transition: all ease-out 0.3s;
}


.circle:hover{
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px red;
}

.zoom:hover{
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px red;
}

.zoom:active{
    background-color: red;
    color: white;
}

main{
    padding: 20px;
    display: flex;
    min-height: 70vh;
    border: 1px solid green;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero h2{
    display: flex;
   font-size: 3rem; 
   font-weight: 800;
   color: #EA5858;
}

.hero-1{
    display: flex;
    width: fit-content;
    gap: 5%;
    color: #8D9090;
    align-items: center;
}

.hero-3{
    display: flex;
    gap: 60px;
}

.buy-icon{
    display: flex;
    gap: 17px;
    align-items: center;
    padding-left: 7px;
    justify-content: start;
    width: 160px;
    border-radius: 25px;
    background-color: #EA5858;
    color: white;
}

.demo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.buy-icon h6, .demo h6{
    font-size: 15px;
    font-weight: 600;
}

.buy-icon img{
    width: 40px;
    border: 1px solid wheat;
    border-radius: 25px;
    background-color: #FDCC63;
}

.demo img{
    width: 50px;
}

/* ---------------------------------------------------------------------------------------------------- */

/* section2 */

.section2{
    min-height: 100vh;
    border: 1px solid red;
    padding: 100px 20px 20px 20px;
    /* background-color: #7c7a78; */
}

.upper{
    /* position: absolute; */
    padding: 0px 0px 70px 0px;
    display: flex;
    align-items: center;
    align-content: center;
    /* background-color: #FDCC63; */
    justify-content: space-between;
}

.upper h5, .upper h5 span{
    font-size: 50px;
    font-weight: 700;
}

.down{
    /* background-color: #FFF0E9; */
    display: flex;
    padding-bottom: 70px;
    justify-content: space-between;
}

.upper p{
    /* font-size: 19px; */
    color: #8D9090;
}

.item-1{
    padding: 20px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
    /* background-color: #6fb1b1; */
}

.item-1 img{
    /* background-color: #7c7a78; */
    max-height: 250px;
}

.item-1 h5{
    /* background-color: #eeb67f; */
    font-size: 24px;
    font-weight: 600;
    
}
.item-1 p{
    color: #EA5858;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.gt{
    font-size: 15px;
}

.upper span{
    color: #EA5858;
}














/* ---------------------------------------------------------------------------------------------- */

